
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --my-color2: #fb2bfd;
  --my-color3: #c2245B;
}

body {
    font-family: 'Montserrat','Roboto', 'Josefin Sans', Arial, Helvetica, sans-serif, sans-serif;
    overflow-x: hidden;
    /* font-size: calc(0.5em + 1vmax); */
}

/* full responsive */ 
.font-fluid {
  font-size: calc(.6em + .5vw);
  line-height: 1.5em;
  padding: 0.5em;
  margin: 0.5em;
}



/* ---- MENU  */
#menu  {
    /* font-size: 18px; */
    font-weight: bold;
    color: rgb(150, 46, 46);
    font-family: 'Barlow Semi Condensed' Arial, Helvetica, sans-serif;
    /* font-weight: 400; */
  
}

.sub-title {
    font-family: 'Oswald', 'Montserrat', Verdada, Arial, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: auto;
    text-align: center;
    padding: 5px 10px;
}

.portafolio  {
    width: 100%;
    margin: auto;
    /* height: 1px; */
    border-radius: 2%;
}

#header-a {
    /* background-color: #020873; */
    max-height: 150px;
}


#menu button {
    font-size: 18px;
    font-weight: bold;
  
}


#my-logo {
    /* font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Audiowide', cursive;
    /* font-size: 1.5rem; */
    /* padding-left: 32px; */
    /* color: #c2245B !important; */
    /* color: #edca20 !important; */
    /* color: white; */
}


#my-logo:hover {
  color: #b81313;
  color: #c2245B;
  color: white;
}

.font-logo {
  font-family: 'DM Serif Display', serif;
  font-family: 'Audiowide', cursive;
  font-size: 1.2em;
}


/*  SLIDER */
.carousel-inner {
    max-height: 39rem;
}

#contacter {
    background-color: #ff6600;
}

#contacter img {
    /* width: 60%; */
    max-height: 250px;
}

/* pantallas medianas */
@media (max-width: 768px) {
    #intro, #equipo {
        width: 90% !important;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
    #equipo p {
        display: none;
    }

    #bg-contacto {
        /* position: relative; */
        top: -110px;
    }
    .mapa {
       width: 100%;
       
    }
}

/* pantallas pequeñas */
@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    #bg-contacto {
        /* position: relative; */
        top: -80px;
    }
 
}



/* Extra Small Devices, Phones */
@media only screen and (min-width: 375px){

  .callout-wrap, .vertical_photo {
      margin-top:10px;}   
  
  .banner-left, .banner-right, .content-left-side, .content-right-side{
  width:100%;
  
  }
  
  .border_drop_bg {
  margin-top:10px;
  width:100%;}
  
  .vertical_photo {
  display:none;}  
  
  
   }

.mapa {
    background-image: url(./img/map.png);
    width: 100%;
    height: 535px;
    
}

#local {
    background: #b81313;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}

/* pantall ancha */
@media (max-width: 1200px) {
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper {
        width: 100%;
        margin: auto;
        padding-top: 50px;
    }
}

#numeros-locales div {
    padding: 0 20px 0 0 ;
    height: 48px;
}

#numeros-locales div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

#numeros-locales div:not(:first-child) {
    padding-left: 20px;
}

#numeros-locales p {
    margin: 0;
}

#bg-contacto {
    position: relative;
    top: -130px;
}
#seccion-contacto {
    background-color: #020873;
    min-height: 500px;
    position: relative;
}

#contenedor-formulario {
    position: relative;
    top: 5%;
    left: 45%;
    transform: translate(-50%, -50%);
    background: #dbdadd;
    border-radius: 5px;
    max-width: 380px;
}

#titulo-formulario {
    /* color: #3f3f3f; */
    background-color: #e7dbdb;
}

/***   redes sociales **/
.fa-instagram-square:hover {
  color: #fd1d1d;
}
.fa-linkedin:hover {
  color: #00a0dc;
}

footer {
    /* background: #020873; */
    min-height: auto;
}
/* footer p {
    color: #fff;
    text-align: center;
}
 */
#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3
}

#formulario {
    background-color: rgba(163, 155, 197, 0.877);
    max-width: 95%;
}

#hero {
    color:#020873;
    width: auto;
    max-height: 200px;
    display: inline-block;
}


.navbar, .navbar-brand span {
    /* font-size: 28px; */
    /* font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, sans-serif; */
}

.navbar a {
    color: white !important;
}


#menu {
    background-image: url(../bg/barra1.png);
    /* object-fit: contain; */
    background-size: cover;
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    opacity: 0.8;
}
.opening {
    background-image: url("../hero/bg1.jpg");
    width: auto;
    min-height: 500%;
    object-fit: contain;
    background-size: cover;
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;

    background-repeat: no-repeat;
    /* desplazar la imagen del hero */
    background-position-y: 50%;
    background-position-x: 60%;
  
}



.text-intro {
    color:white;
      /* color: #ffcc00 !important; */
    padding-top: 120px !important;
}

.text-intro h2 {
    font-size: 40px;
    padding-bottom: 24px;
}

.btn-primary:hover {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.322);
  font-weight: bold;
  color: white;
}

.my-primary-color {
  color:  #00749f !important;
}
.my-secondary-color {
   color: #c2245B !important; 
}
.my-btn-secondary {
    /* background-color: #fb2bfd !important; */
    background-color: #c2245B !important;
    color: white;
    padding: 12px 28px !important;
    /* border-color: white !important; */
}
.my-btn-secondary:hover {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.322);
  font-weight: bolder;
  color: white;
}

.my-btn-primary {
    /* background-color: #014280 !important; */
    background-color: #00749f !important;
    /* background-color: #13dafe !important; */
    color: #fff;
    padding: 12px 50px !important;
    
}
.my-btn-primary:hover {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.322);
  font-weight: bolder;
  color: white;
}
.btn-outline-primary {
    border-color: white !important;
    color: white !important;
    padding: 12px 50px !important;
}

.new-btn {
    font: 18px 'Varela Round', 'Roboto', 'Montserrat', Verdana, sans-serif;
    line-height: 100% !important;
    display: inline-block;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
} 

.btn-container {
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 6px solid transparent;
    -webkit-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
}


.btn-inverse {
    color: #2A78BE;
}



.mt-xs {
    margin-top: 5px !important;
}

.btn--minimal {
    position: relative;
    z-index: 20;
    padding: 11px 34px 9px;
    margin: -2px;
    background: none;
    overflow: hidden;
}  
.btn-lg-bordered {
    padding: 13px 49px 11px 49px;
}

button {
    border-radius: 30px !important;
    font-size: 21px !important;
    /* font-weight: 400px; */
}

#btn-into {
    margin-top: 20px;
}


.dropdown-item:hover {
    background-color: #fb2bfd;
    opacity: .85;
}

.nav-link:hover, li>a:hover {
    /* background-color: #fb2bfd; */
    border-bottom: 3px solid var(--my-color2) !important;
    font-weight: 600;
    color: white;
}

.under-construction {
    background-image: url("./img/under-construction.jpg");
    width: auto;
    max-height: 500px;
    object-fit: contain;
    background-size: cover;
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;

    background-repeat: no-repeat;
    /* desplazar la imagen del hero */
    background-position-y: 50%;
    background-position-x: 60%;
}

/**  Testimonios imagenes **/

.bg-testimonials {
    background-image: url("../img/community.jpg");
    width: auto;
    /* min-height: 500px; */
    height: 50vh;
    object-fit: contain;
    background-size: cover;
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;

    background-repeat: no-repeat;
    /* desplazar la imagen del hero */
 /*    background-position-y: 50%;
    background-position-x: 60%; */
    /* position: relative; */
    /* opacity: .80; */
}
.bg-testimonials::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

.img-jency {
    background-image: url("../clients/jency.webp");
    background-size: cover;
    min-width: 9.5vmax;
    height:  9.5vmax; 
}
.img-man {
    background-image: url("../avatar/man.png");
    background-size: cover;
    min-width: 9.5vmax;
    height:  9.5vmax; 
}
.img-hombre {
  background-image: url("../avatar/hombre.png");
  background-size: cover;
  max-width: 9.5vmax;
  height:  9.5vmax; 
}
.img-mujer {
    background-image: url("../avatar/mujer.png");
    background-size: cover;
    min-width: 9.5vmax;
    height:  9.5vmax; 
}
.img-woman {
    background-image: url("../avatar/woman.png");
    background-size: cover;
    /* max-width: 10vmax; */
    min-width: 9.5vmax;
    height:  9.5vmax; 
}
.img-joven {
  background-image: url("../avatar/joven.png");
  background-size: cover;
  max-width: 10vmax;
  min-width: 10vmax;
  height:  10vmax; 
}
.img-client1 {
  background-image: url("../clients/img1.webp");
    background-size: cover;
    /* max-width: 10vmax; */
    min-width: 9.5vmax;
    height:  9.5vmax; 
}
.img-client2 {
  background-image: url("./clients/boy.webp");
    background-size: cover;
    /* max-width: 10vmax; */
    min-width: 9.5vmax;
    height:  9.5vmax; 
}
.my-font-style {
  /* font-size: calc(0.5em + 1vw); */
      font-size: calc(.6em + .6vh);
      font-weight: 500;
  line-height: 1em;
  padding: 1em;
  margin: 1em;
}
/* remove border thumbnail */
.thumbnail {
  border: 0px;
  box-shadow: none;
  border-radius:0px;
  background-color: #fff;
  }


/*----------- TESTIMONIOS ---------*/

.client {
    width: 100%;
    height: 100%;
    /* background-color: #2945df; */
    background-image: url("../bg/testimonials.jpg");
    background-size: cover;
    border-radius: 10px;
}
.contactme {
  width: 100%;
  height: 100%;
  /* background-color: #2945df; */
  background-image: url("../img/contactme.jpg");
  background-size: cover;
  border-radius: 10px;
  opacity: .9;
}



.carousel-icon i {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.3);
  }
  
.carousel-item i {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.3);
  }
  
.t-card {
    padding: 1.8125rem 1.125rem 1.125rem;
    /* padding: 1.8125rem  1.9125rem 1.125rem 1.125rem; */
    background-color: rgba(20, 20, 20, 0.473);
    /* border-radius: 1.25rem 1.25rem 2.25rem; */
    border-radius: 0 40px 0 40px;
    color: white;
    height: auto;
    /* font-size:2.5hw;  */
  }
  
.arrow-down {
    width: 0;
    height: 0;
    border-left: 1.5625rem solid transparent;
    border-right: 1.5625rem solid transparent;
    border-top: 1.25rem solid rgba(0, 0, 0, 0.5);
  }
/*----------------------------------------------------------*/


find-out-what-can-do-for-you {
    margin-top: 50px;
    min-height: 300px;

}  



/**  ----- CENTRADO ABSOLUTO ---- ***/
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 11vh;
}




  /** MY BACKGROUNDS */

.my-bg-1 {
      background-color: #022256;
      color: white;
}
.my-bg-2 {
    background-color: #014280;
    color: white;
}
.my-bg-3 {
    background-color: #00749f;
}
.my-bg-4 {
    background-color: #0195b7;
}
.my-bg-5 {
    background-color: #00c0d6;
}
.my-bg-card-1 {
    background-color: #f5f5f5;
}
.my-bg-card-2 {
    background-color: #f7f7f7;
}
.my-bg-card-3 {
  background-color: #efefef;
}
.my-bg-card4 {
  background-color: #c0b5f931;
}
.my-bg-card5 {
  background-color: #93cdf925;
}
.my-bg-card6 {
  background-color: #bbcdf746;
}
.my-bg-card7 {
  background-color: #4c55ff1e;
}
.my-bg-card-test {
  background-color: magenta;
}


.my-bg-telegram {
  background-color: #517da2;
  color: white;
}

/*   pruebas */
/*  */
.fa-circle-arrow-right {
/*     width: 180px !important;
    height: 180px; */
    color: white;
}
.my-btn-2 {
    position: relative;
    margin: 19px 15px 26px 19px;
    /* margin: auto; */
    padding: 14px 18px 29px 30px;
    transition: all 0.2s ease;
    text-decoration: none;
  }
svg {
    margin: 0 auto;
    transform: scale(5);
} 
  .my-btn-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    /* background: #2291ec; */
    background: #2291ec;
    width: 70px;
    height: 70px;
    transition: all 0.3s ease;
  }
  .my-btn-2 span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.25em;
    /* text-transform: uppercase; */
    vertical-align: middle;
  } 
  .my-btn-2 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .my-btn-2:hover:before {
    width: 100%;
    background: rgba(236, 15, 236, 0.877);
  }
  .my-btn-2:hover svg {
    transform: translateX(0);
    transform: scale(0);
  }
  .my-btn-2:active {
    transform: scale(0.96);
  }
/* end pruebas */

/* MY BUTTONS */
.my-btn {
    /* background-color: gray; */
    position: relative;
    display: block;
    color: #000;
    font-size: 14px;
    font-family: "Montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .my-btn::before{
    background: #1881e4;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }
  
  
  .btn2::before{
    width: 100%;
    height: 0%;
  }
  .btn2:hover::before{
    height: 100%;
  }
  
  .btn3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn3:hover::before{
    height: 380%;
  }
  
  .btn4::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .btn4:hover::before{
    height: 380%;
  }
/*  SLIDER */

/* 
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #D4DAD9;
  color: #252525;
  overflow: hidden;
}  */

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card {
  width: 90vmin;
  height: 55vmin;
  display: flex;
  box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}

.card__img {
  background-position: center;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#img01 {
  background-image: url("https://images.unsplash.com/photo-1477865634015-0b232c1dd56a?dpr=1&auto=format&fit=crop&w=1500&h=2109&q=80&cs=tinysrgb&crop=");
}

#img02 {
  background-image: url("https://images.unsplash.com/photo-1495041405835-b4702187b514?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=");
}

#img03 {
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?dpr=1&auto=compress,format&fit=crop&w=2734&h=&q=80&cs=tinysrgb&crop=");
}

.card__content {
  padding: 10% 5%;
  box-sizing: border-box;
  width: 50%;
}

.card__content-theme {
  font-weight: 600;
  font-size: 1.7vmin;
}

.card__content-header {
  font-weight: 500;
  font-size: 16px;
  font-size: 7vmin;
  text-transform: capitalize;
  letter-spacing: 0.01em;
  line-height: 0.91;
  margin: 3vmin 0 3.5vmin;
}

.card__content-paragraph {
  font-size: 1.6vmin;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 2.5vmin;
}

.card__content-link {
  color: #BA3428;
  font-size: 1.8vmin;
  display: block;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.card__content-link:hover {
  /* opacity: 1; */
}
.card__content-link:after {
  content: " →";
}

.prevnext {
  position: absolute;
  width: 4vmin;
  height: 8vmin;
  right: 2%;
  bottom: 0;
  top: 0;
  margin: auto 0;
}

.prevnext-button {
  width: 100%;
  height: 50%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
}

#prev, #next {
  position: relative;
  cursor: pointer;
}
#prev:hover:after, #prev:hover:after, #next:hover:after, #next:hover:after {
  /* opacity: 1; */
}

#prev:after, #next:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.6;
  /* transition: opacity 0.3s ease; */
}

#prev:after {
  content: "↑";
}

#next:after {
  content: "↓";
}

#virtualization:hover {
  box-shadow: #00c0d6;
  border: #1881e4;
}

.fa-solid {
  color: white;
}
.fa-solid:hover {
  color: #04c1f0;
  /* width: 30px; */
  font-weight: 500;
  /* height: 30px; */
}

li > a {
  text-decoration: none;
}

.border-font {
  color: white;
  /* font-size: 22px; */
  text-shadow: -3px 3px 0 #000,
  
              -3px -3px 0 #000;
}
.text-shadow {
  color: #FFF;
  /* margin: 0 auto; */
  /* text-align: center; */
  font-weight: 600;
  /* font: italic bold 100px Georgia, Serif; */
  text-shadow: -4px 3px 0 #242727;
  /* , -10px 7px 0 #0a0e27; */
  /* text-shadow: -4px 3px 0 #34ccd1, -14px 7px 0 #0a0e27; */
}
.bi {
 font-size: 30px;
}
.bi:hover {
  color: var(--my-color2);
}